.player {
  margin-top: 70px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(187, 207, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 150px;
  border: 2px solid black;
  margin: 2px;
}
